$font-family-manrope: 'Manrope', sans-serif;
$font-family-lora: 'Lora', serif;
$white: #ffffff;
$black:#212121;
$spiroDiscoBall: #16D6FA;
$paleGreen: #A8F387;
$amaranth: #E52B50;
$midnightGreen: #004859;